<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
             <li class="nav-label">
                 <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Index">Student List</a>
             </li>
             <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="AddStudent">Student List</a>
             </li>

        </ul>
    </div>
</div>