
<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="/User/ImageUpload" class="img logo rounded-circle mb-5"></a>
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="/User/Index">Home</a>
                    </li>
                    <li>
                        <a href="/Images/Index">Image Crop</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Users</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="/User/Index">Users Detail</a>
                    </li>
                    <li>
                        <a href="/User/UpdateUser">Edit User</a>
                    </li>
                    <li>
                        <a href="/Account/Register">Sign Up</a>
                    </li>
                    <li>
                        <a href="/Account/Login">Sign In</a>
                    </li>

                </ul>
            </li>
        </ul>
    </div>
</nav>


