@model YSManagmentSystem.Domain.Order.Customer
@{
    ViewData["Title"] = "AddOrEditCustomer";
    Layout = null;
}

<h1>Add Or Edit Customer</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form action="@Url.Content("/Customer/AddOrEditCustomer")" id="step-form-horizontal" class="step-form-horizontal" method="post">
                <input type="hidden" asp-for="Id" />
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="text" asp-for="CustomerName" class="form-control" placeholder="Customer Name" required>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="text" asp-for="CustomerAddress" class="form-control" placeholder="Customer Address" required>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="text" asp-for="Email" class="form-control" placeholder="Email Address" required>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="text" asp-for="ContactNumber" class="form-control" placeholder="Contact Number" required>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="add" style="background-color:darkgreen;">Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>




<script>validateEmpForm()</script>


